From b29bcc9bdbe3e4bb2f03a0f4d099bae9638742a4 Mon Sep 17 00:00:00 2001
From: =?UTF-8?q?Noralf=20Tr=C3=B8nnes?= <noralf@tronnes.org>
Date: Tue, 25 Oct 2016 17:32:02 +0200
Subject: [PATCH 132/203] kconfig: Just use ARCH_BCM2835 for depends on
MIME-Version: 1.0
Content-Type: text/plain; charset=UTF-8
Content-Transfer-Encoding: 8bit

ARCH_BCM2708 and ARCH_BCM2709 selects ARCH_BCM2835 now, so the
dependencies can be simplified.

Signed-off-by: Noralf Trønnes <noralf@tronnes.org>
[Xulin: Original patch taken from
https://github.com/raspberrypi/linux.git branch rpi-4.8.y]
Signed-off-by: Xulin Sun <xulin.sun@windriver.com>
---
 arch/arm/Kconfig.debug                 |   10 ++++------
 drivers/char/broadcom/Kconfig          |    2 +-
 drivers/char/hw_random/Kconfig         |    2 +-
 drivers/dma/Kconfig                    |    2 +-
 drivers/gpio/Kconfig                   |    2 +-
 drivers/gpu/drm/vc4/Kconfig            |    2 +-
 drivers/i2c/busses/Kconfig             |    4 ++--
 drivers/mailbox/Kconfig                |    2 +-
 drivers/media/platform/bcm2835/Kconfig |    2 +-
 drivers/misc/Kconfig                   |    2 +-
 drivers/mmc/host/Kconfig               |    4 ++--
 drivers/mtd/nand/Kconfig               |    2 +-
 drivers/pwm/Kconfig                    |    2 +-
 drivers/soc/bcm/Kconfig                |    2 +-
 drivers/spi/Kconfig                    |    4 ++--
 drivers/tty/serial/8250/Kconfig        |    2 +-
 drivers/watchdog/Kconfig               |    2 +-
 sound/arm/Kconfig                      |    3 +--
 sound/soc/bcm/Kconfig                  |    2 +-
 19 files changed, 25 insertions(+), 28 deletions(-)

diff --git a/arch/arm/Kconfig.debug b/arch/arm/Kconfig.debug
index 11aa81f..a9693b6 100644
--- a/arch/arm/Kconfig.debug
+++ b/arch/arm/Kconfig.debug
@@ -147,12 +147,12 @@ choice
 
 	config DEBUG_BCM2835
 		bool "Kernel low-level debugging on BCM2835 PL011 UART"
-		depends on (ARCH_BCM2835 && ARCH_MULTI_V6) || ARCH_BCM2708
+		depends on ARCH_BCM2835 && ARCH_MULTI_V6
 		select DEBUG_UART_PL01X
 
 	config DEBUG_BCM2836
 		bool "Kernel low-level debugging on BCM2836 PL011 UART"
-		depends on (ARCH_BCM2835 && ARCH_MULTI_V7) || ARCH_BCM2709
+		depends on ARCH_BCM2835 && ARCH_MULTI_V7
 		select DEBUG_UART_PL01X
 
 	config DEBUG_BCM_5301X
@@ -1695,8 +1695,7 @@ config DEBUG_UART_8250_FLOW_CONTROL
 
 config DEBUG_UNCOMPRESS
 	bool
-	depends on ARCH_MULTIPLATFORM || PLAT_SAMSUNG || ARM_SINGLE_ARMV7M || \
-		   ARCH_BCM2708 || ARCH_BCM2709
+	depends on ARCH_MULTIPLATFORM || PLAT_SAMSUNG || ARM_SINGLE_ARMV7M
 	default y if DEBUG_LL && !DEBUG_OMAP2PLUS_UART && \
 		     (!DEBUG_TEGRA_UART || !ZBOOT_ROM)
 	help
@@ -1713,8 +1712,7 @@ config DEBUG_UNCOMPRESS
 config UNCOMPRESS_INCLUDE
 	string
 	default "debug/uncompress.h" if ARCH_MULTIPLATFORM || ARCH_MSM || \
-					PLAT_SAMSUNG || ARM_SINGLE_ARMV7M || \
-					ARCH_BCM2708 || ARCH_BCM2709
+					PLAT_SAMSUNG || ARM_SINGLE_ARMV7M
 	default "mach/uncompress.h"
 
 config EARLY_PRINTK
diff --git a/drivers/char/broadcom/Kconfig b/drivers/char/broadcom/Kconfig
index 5489f19..0321649 100644
--- a/drivers/char/broadcom/Kconfig
+++ b/drivers/char/broadcom/Kconfig
@@ -49,7 +49,7 @@ config BCM2835_DEVGPIOMEM
 
 config BCM2835_SMI_DEV
 	tristate "Character device driver for BCM2835 Secondary Memory Interface"
-	depends on (MACH_BCM2708 || MACH_BCM2709 || ARCH_BCM2835) && BCM2835_SMI
+	depends on BCM2835_SMI
 	default m
 	help
 		This driver provides a character device interface (ioctl + read/write) to
diff --git a/drivers/char/hw_random/Kconfig b/drivers/char/hw_random/Kconfig
index 205b6b3..8c0770b 100644
--- a/drivers/char/hw_random/Kconfig
+++ b/drivers/char/hw_random/Kconfig
@@ -90,7 +90,7 @@ config HW_RANDOM_BCM63XX
 
 config HW_RANDOM_BCM2835
 	tristate "Broadcom BCM2835 Random Number Generator support"
-	depends on ARCH_BCM2835 || ARCH_BCM2708 || ARCH_BCM2709 || ARCH_BCM_NSP || ARCH_BCM_5301X
+	depends on ARCH_BCM2835 || ARCH_BCM_NSP || ARCH_BCM_5301X
 	default HW_RANDOM
 	---help---
 	  This driver provides kernel-side support for the Random Number
diff --git a/drivers/dma/Kconfig b/drivers/dma/Kconfig
index 2a21080..61c3318 100644
--- a/drivers/dma/Kconfig
+++ b/drivers/dma/Kconfig
@@ -108,7 +108,7 @@ config COH901318
 
 config DMA_BCM2835
 	tristate "BCM2835 DMA engine support"
-	depends on ARCH_BCM2835 || ARCH_BCM2708 || ARCH_BCM2709
+	depends on ARCH_BCM2835
 	select DMA_ENGINE
 	select DMA_VIRTUAL_CHANNELS
 
diff --git a/drivers/gpio/Kconfig b/drivers/gpio/Kconfig
index 343adff..71d7754 100644
--- a/drivers/gpio/Kconfig
+++ b/drivers/gpio/Kconfig
@@ -146,7 +146,7 @@ config GPIO_BCM_KONA
 
 config GPIO_BCM_VIRT
 	bool "Broadcom Virt GPIO"
-	depends on OF_GPIO && RASPBERRYPI_FIRMWARE && (ARCH_BCM2835 || ARCH_BCM2708 || ARCH_BCM2709 || COMPILE_TEST)
+	depends on OF_GPIO && RASPBERRYPI_FIRMWARE && (ARCH_BCM2835 || COMPILE_TEST)
 	help
 	  Turn on virtual GPIO support for Broadcom BCM283X chips.
 
diff --git a/drivers/gpu/drm/vc4/Kconfig b/drivers/gpu/drm/vc4/Kconfig
index f6e9382..e53df59 100644
--- a/drivers/gpu/drm/vc4/Kconfig
+++ b/drivers/gpu/drm/vc4/Kconfig
@@ -1,6 +1,6 @@
 config DRM_VC4
 	tristate "Broadcom VC4 Graphics"
-	depends on ARCH_BCM2835 || ARCH_BCM2708 || ARCH_BCM2709 || COMPILE_TEST
+	depends on ARCH_BCM2835 || COMPILE_TEST
 	depends on DRM
 	select DRM_KMS_HELPER
 	select DRM_KMS_CMA_HELPER
diff --git a/drivers/i2c/busses/Kconfig b/drivers/i2c/busses/Kconfig
index 37f4632..9cd5735 100644
--- a/drivers/i2c/busses/Kconfig
+++ b/drivers/i2c/busses/Kconfig
@@ -10,7 +10,7 @@ comment "PC SMBus host controller drivers"
 
 config I2C_BCM2708
 	tristate "BCM2708 BSC"
-	depends on MACH_BCM2708 || MACH_BCM2709 || ARCH_BCM2835
+	depends on ARCH_BCM2835
 	help
 	  Enabling this option will add BSC (Broadcom Serial Controller)
 	  support for the BCM2708. BSC is a Broadcom proprietary bus compatible
@@ -385,7 +385,7 @@ config I2C_AXXIA
 
 config I2C_BCM2835
 	tristate "Broadcom BCM2835 I2C controller"
-	depends on ARCH_BCM2835 || ARCH_BCM2708 || ARCH_BCM2709
+	depends on ARCH_BCM2835
 	help
 	  If you say yes to this option, support will be included for the
 	  BCM2835 I2C controller.
diff --git a/drivers/mailbox/Kconfig b/drivers/mailbox/Kconfig
index dc46b41..7817d40 100644
--- a/drivers/mailbox/Kconfig
+++ b/drivers/mailbox/Kconfig
@@ -74,7 +74,7 @@ config ALTERA_MBOX
 
 config BCM2835_MBOX
 	tristate "BCM2835 Mailbox"
-	depends on ARCH_BCM2835 || ARCH_BCM2708 || ARCH_BCM2709
+	depends on ARCH_BCM2835
 	help
 	  An implementation of the BCM2385 Mailbox.  It is used to invoke
 	  the services of the Videocore. Say Y here if you want to use the
diff --git a/drivers/media/platform/bcm2835/Kconfig b/drivers/media/platform/bcm2835/Kconfig
index 99a5cbc..58d5f96 100644
--- a/drivers/media/platform/bcm2835/Kconfig
+++ b/drivers/media/platform/bcm2835/Kconfig
@@ -2,7 +2,7 @@
 
 config VIDEO_BCM2835
 	bool "Broadcom BCM2835 camera interface driver"
-	depends on VIDEO_V4L2 && (ARCH_BCM2708 || ARCH_BCM2709 || ARCH_BCM2835)
+	depends on VIDEO_V4L2 && ARCH_BCM2835
 	---help---
 	  Say Y here to enable camera host interface devices for
 	  Broadcom BCM2835 SoC. This operates over the VCHIQ interface
diff --git a/drivers/misc/Kconfig b/drivers/misc/Kconfig
index cff8c3d..f34254b 100644
--- a/drivers/misc/Kconfig
+++ b/drivers/misc/Kconfig
@@ -12,7 +12,7 @@ config SENSORS_LIS3LV02D
 
 config BCM2835_SMI
 	tristate "Broadcom 283x Secondary Memory Interface driver"
-	depends on MACH_BCM2708 || MACH_BCM2709 || ARCH_BCM2835
+	depends on ARCH_BCM2835
 	default m
 	help
 		Driver for enabling and using Broadcom's Secondary/Slow Memory Interface.
diff --git a/drivers/mmc/host/Kconfig b/drivers/mmc/host/Kconfig
index 205d836..87d251e 100644
--- a/drivers/mmc/host/Kconfig
+++ b/drivers/mmc/host/Kconfig
@@ -6,7 +6,7 @@ comment "MMC/SD/SDIO Host Controller Drivers"
 
 config MMC_BCM2835
 	tristate "MMC support on BCM2835"
-	depends on MACH_BCM2708 || MACH_BCM2709 || ARCH_BCM2835
+	depends on ARCH_BCM2835
 	help
 	  This selects the MMC Interface on BCM2835.
 
@@ -35,7 +35,7 @@ config MMC_BCM2835_PIO_DMA_BARRIER
 
 config MMC_BCM2835_SDHOST
 	tristate "Support for the SDHost controller on BCM2708/9"
-	depends on MACH_BCM2708 || MACH_BCM2709 || ARCH_BCM2835
+	depends on ARCH_BCM2835
 	help
 	  This selects the SDHost controller on BCM2835/6.
 
diff --git a/drivers/mtd/nand/Kconfig b/drivers/mtd/nand/Kconfig
index bd5fd2f..fb44033 100644
--- a/drivers/mtd/nand/Kconfig
+++ b/drivers/mtd/nand/Kconfig
@@ -43,7 +43,7 @@ config MTD_SM_COMMON
 
 config MTD_NAND_BCM2835_SMI
         tristate "Use Broadcom's Secondary Memory Interface as a NAND controller (BCM283x)"
-        depends on (MACH_BCM2708 || MACH_BCM2709 || ARCH_BCM2835) && BCM2835_SMI && MTD_NAND
+        depends on BCM2835_SMI
         default m
         help
 	  Uses the BCM2835's SMI peripheral as a NAND controller.
diff --git a/drivers/pwm/Kconfig b/drivers/pwm/Kconfig
index 549cf7a..80a566a 100644
--- a/drivers/pwm/Kconfig
+++ b/drivers/pwm/Kconfig
@@ -95,7 +95,7 @@ config PWM_BCM_KONA
 
 config PWM_BCM2835
 	tristate "BCM2835 PWM support"
-	depends on ARCH_BCM2835 || ARCH_BCM2708 || ARCH_BCM2709
+	depends on ARCH_BCM2835
 	help
 	  PWM framework driver for BCM2835 controller (Raspberry Pi)
 
diff --git a/drivers/soc/bcm/Kconfig b/drivers/soc/bcm/Kconfig
index 7d11a44..a39b0d5 100644
--- a/drivers/soc/bcm/Kconfig
+++ b/drivers/soc/bcm/Kconfig
@@ -2,7 +2,7 @@ menu "Broadcom SoC drivers"
 
 config RASPBERRYPI_POWER
 	bool "Raspberry Pi power domain driver"
-	depends on ARCH_BCM2835 || ARCH_BCM2708 || ARCH_BCM2709 || (COMPILE_TEST && OF)
+	depends on ARCH_BCM2835 || (COMPILE_TEST && OF)
 	depends on RASPBERRYPI_FIRMWARE=y
 	select PM_GENERIC_DOMAINS if PM
 	help
diff --git a/drivers/spi/Kconfig b/drivers/spi/Kconfig
index 4b09be7..d6fb8d4 100644
--- a/drivers/spi/Kconfig
+++ b/drivers/spi/Kconfig
@@ -94,7 +94,7 @@ config SPI_AXI_SPI_ENGINE
 config SPI_BCM2835
 	tristate "BCM2835 SPI controller"
 	depends on GPIOLIB
-	depends on ARCH_BCM2835 || ARCH_BCM2708 || ARCH_BCM2709 || COMPILE_TEST
+	depends on ARCH_BCM2835 || COMPILE_TEST
 	help
 	  This selects a driver for the Broadcom BCM2835 SPI master.
 
@@ -105,7 +105,7 @@ config SPI_BCM2835
 
 config SPI_BCM2835AUX
 	tristate "BCM2835 SPI auxiliary controller"
-	depends on ((ARCH_BCM2835 || ARCH_BCM2708 || ARCH_BCM2709) && GPIOLIB) || COMPILE_TEST
+	depends on (ARCH_BCM2835 && GPIOLIB) || COMPILE_TEST
 	help
 	  This selects a driver for the Broadcom BCM2835 SPI aux master.
 
diff --git a/drivers/tty/serial/8250/Kconfig b/drivers/tty/serial/8250/Kconfig
index 748098f..7c6f7af 100644
--- a/drivers/tty/serial/8250/Kconfig
+++ b/drivers/tty/serial/8250/Kconfig
@@ -291,7 +291,7 @@ config SERIAL_8250_ACORN
 
 config SERIAL_8250_BCM2835AUX
 	tristate "BCM2835 auxiliar mini UART support"
-	depends on ARCH_BCM2708 || ARCH_BCM2709 || ARCH_BCM2835 || COMPILE_TEST
+	depends on ARCH_BCM2835 || COMPILE_TEST
 	depends on SERIAL_8250 && SERIAL_8250_SHARE_IRQ
 	help
 	  Support for the BCM2835 auxiliar mini UART.
diff --git a/drivers/watchdog/Kconfig b/drivers/watchdog/Kconfig
index 9a28f1f..1bffe00 100644
--- a/drivers/watchdog/Kconfig
+++ b/drivers/watchdog/Kconfig
@@ -1440,7 +1440,7 @@ config BCM63XX_WDT
 
 config BCM2835_WDT
 	tristate "Broadcom BCM2835 hardware watchdog"
-	depends on ARCH_BCM2835 || ARCH_BCM2708 || ARCH_BCM2709
+	depends on ARCH_BCM2835
 	select WATCHDOG_CORE
 	help
 	  Watchdog driver for the built in watchdog hardware in Broadcom
diff --git a/sound/arm/Kconfig b/sound/arm/Kconfig
index 8883c2f..02b6d26 100644
--- a/sound/arm/Kconfig
+++ b/sound/arm/Kconfig
@@ -34,8 +34,7 @@ config SND_PXA2XX_AC97
 
 config SND_BCM2835
 	tristate "BCM2835 ALSA driver"
-	depends on (ARCH_BCM2708 || ARCH_BCM2709 || ARCH_BCM2835) \
-		   && BCM2708_VCHIQ && SND
+	depends on ARCH_BCM2835 && BCM2708_VCHIQ && SND
 	select SND_PCM
 	help
 	  Say Y or M if you want to support BCM2835 Alsa pcm card driver
diff --git a/sound/soc/bcm/Kconfig b/sound/soc/bcm/Kconfig
index aed7b47..d024377 100644
--- a/sound/soc/bcm/Kconfig
+++ b/sound/soc/bcm/Kconfig
@@ -1,6 +1,6 @@
 config SND_BCM2835_SOC_I2S
 	tristate "SoC Audio support for the Broadcom BCM2835 I2S module"
-	depends on ARCH_BCM2835 || MACH_BCM2708 || MACH_BCM2709 || COMPILE_TEST
+	depends on ARCH_BCM2835 || COMPILE_TEST
 	select SND_SOC_GENERIC_DMAENGINE_PCM
 	select REGMAP_MMIO
 	help
-- 
1.7.5.4

