[kernel-options]
	config = features/criu/criu-enable.scc
	config = features/serial/8250.scc
	config = features/pci/pci.scc
	config = features/i40e/i40e.scc
	config = features/hrt/hrt.scc
	config = features/crypto/crypto.scc
	config = features/dca/dca.scc
	config = features/bpf/bpf.scc
	config = features/intel-iommu/intel-iommu.scc
	config = features/kmemcheck/kmemcheck-enable.scc
	config = features/ramconsole/ramconsole.scc
	config = features/i2c/i2cdev.scc
	config = features/i2c/i2cdbg.scc
	config = features/i2c/i2c.scc
	config = features/coresight/coresight.scc
	config = features/scsi/scsi.scc
	config = features/scsi/disk.scc
	config = features/scsi/cdrom.scc
	config = features/rapl/rapl.scc
	config = features/pwm/intel_pwm.scc
	config = features/pwm/pwm.scc
	config = features/systemtap/systemtap.scc
	config = features/hugetlb/hugetlb.scc
	config = features/misc/bosch-pressure-sensor-i2c.scc
	config = features/vxlan/vxlan-enable.scc
	config = features/qat/qat.scc
	config = features/sound/snd_hda_intel.scc
	config = features/cma/cma.scc
	config = features/fuse/fuse.scc
	config = features/ciphers/ciphers.scc
	config = features/wr-rt/wr-rt.scc
	config = features/kprobes/kprobes.scc
	config = features/igb/igb.scc
	config = features/uprobe/uprobe-enable.scc
	config = features/uprobe/uprobe.scc
	config = features/media/media-platform.scc
	config = features/media/media.scc
	config = features/media/media-radio.scc
	config = features/media/media-tuners.scc
	config = features/media/media-dvb-frontends.scc
	config = features/media/media-pci-capture.scc
	config = features/media/media-usb-tv.scc
	config = features/media/media-usb-webcams.scc
	config = features/media/media-rc.scc
	config = features/media/media-i2c.scc
	config = features/latencytop/latencytop.scc
	config = features/input/input.scc
	config = features/input/touchscreen.scc
	config = features/blktrace/blktrace.scc
	config = features/iwlwifi/iwlwifi.scc
	config = features/i915/i915.scc
	config = features/lttng/lttng-enable.scc
	config = features/leds/leds.scc
	config = features/uio/uio.scc
	config = features/inline/inline.scc
	config = features/intel-pinctrl/intel-pinctrl.scc
	config = features/namespaces/namespaces.scc
	config = features/powertop/powertop.scc
	config = features/usb-net/usb-net.scc
	config = features/debug/printk.scc
	config = features/edac/edac-x86.scc
	config = features/edac/edac.scc
	config = features/edac/edac-mpc85xx.scc
	config = features/ftrace/ftrace.scc
	config = features/ftrace/ftrace-function-tracer-disable.scc
	config = features/taskstats/taskstats.scc
	config = features/nfc/nfc-vendor.scc
	config = features/nfc/nfc-generic.scc
	config = features/mac80211/mac80211.scc
	config = features/lxc/lxc-enable.scc
	config = features/iwlegacy/iwlegacy.scc
	config = features/usb/ehci-hcd.scc
	config = features/usb/ohci-hcd.scc
	config = features/usb/usb-gadgets.scc
	config = features/usb/touchscreen-composite.scc
	config = features/usb/usb-base.scc
	config = features/usb/xhci-hcd.scc
	config = features/usb/serial-all.scc
	config = features/usb/uhci-hcd.scc
	config = features/amt/mei/mei.scc
	config = features/ipmi/ipmi.scc
	config = features/nfsd/nfsd-enable.scc
	config = features/power/intel.scc
	config = features/profiling/profiling.scc
	config = features/nf_tables/nf_tables.scc
	config = features/eg20t/eg20t.scc
	config = features/thermal/coretemp.scc
	config = features/cgroups/cgroups.scc
	config = features/pci-iov/pci-iov.scc
	config = features/intel-e1xxxx/intel-e100.scc
	config = features/kdump/kdump-enable.scc
	config = features/kgdb/kgdb.scc
	config = features/powerclamp/powerclamp.scc
	config = features/full_nohz/full_nohz-enable.scc
	config = features/r8169/r8169.scc
	config = features/netfilter/netfilter.scc
	config = features/kvm/qemu-kvm-enable.scc
	config = features/firmware/firmware.scc
	config = features/spi/spi.scc
	config = features/spi/spidev.scc
	config = features/kexec/kexec-enable.scc
	config = features/intel-dpdk/intel-dpdk.scc
	config = features/bluetooth/bluetooth-usb.scc
	config = features/iio/iio.scc
	config = cfg/fs/devtmpfs.scc
	config = cfg/fs/ext4.scc
	config = cfg/fs/ext2.scc
	config = cfg/fs/vfat.scc
	config = cfg/fs/ext3.scc
	config = cfg/fs/flash_fs.scc
	config = cfg/fs/debugfs.scc
	config = cfg/fs/btrfs.scc
	config = cfg/dmaengine.scc
	config = cfg/sound.scc
	config = cfg/8250.scc
	config = cfg/efi-ext.scc
	config = cfg/smp.scc
	config = cfg/virtio.scc
	config = cfg/efi.scc
	config = cfg/dpaa.scc
	config = cfg/timer/hpet.scc
	config = cfg/timer/rtc.scc
	config = cfg/timer/hz_250.scc
	config = cfg/timer/hz_100.scc
	config = cfg/timer/hz_1000.scc
	config = cfg/timer/no_hz.scc
	config = cfg/vesafb.scc
	config = cfg/paravirt_kvm.scc
	config = cfg/boot-live.scc
	config = cfg/usb-mass-storage.scc
	config = cfg/x32.scc
	config = cfg/dce.scc
	config = cfg/net/ipsec.scc
	config = cfg/net/ip6_nf.scc
	config = cfg/net/ipsec6.scc
	config = cfg/net/bridge.scc
	config = cfg/net/ipv6.scc
	config = cfg/net/ip_nf.scc
