..........................................................................
.                                WARNING
.
. This file is a kernel configuration fragment, and not a full kernel
. configuration file.  The final kernel configuration is made up of
. an assembly of processed fragments, each of which is designed to
. capture a specific part of the final configuration (e.g. platform
. configuration, feature configuration, and board specific hardware
. configuration).  For more information on kernel configuration, please
. consult the product documentation.
.
..........................................................................

# CONFIG_SERIAL_POLL_API=y
# CONFIG_SERIAL_SUNVC=m

CONFIG_IPMI_SERIAL=m
CONFIG_SERIAL_IPMI_SETUP="ttyIPMI0,9600n8,Direct,eattn"
CONFIG_IPMI_SERIAL_DIRECT=m
