#.........................................................................                                                                         
#                                WARNING
#                                      
# This file is a kernel configuration fragment, and not a full kernel
# configuration file.  The final kernel configuration is made up of 
# an assembly of processed fragments, each of which is designed to 
# capture a specific part of the final configuration (e.g. platform
# configuration, feature configuration, and board specific hardware
# configuration).  For more information on kernel configuration, please 
# consult the product documentation.                                   
#                                                                     
#.........................................................................                                                                                      
CONFIG_HAVE_FTRACE=y

# This is handled by feature/debugfs 
# CONFIG_DEBUG_FS=y

CONFIG_TRACER_MAX_TRACE=y
CONFIG_TRACING=y
CONFIG_FTRACE=y
CONFIG_IRQSOFF_TRACER=y
CONFIG_SYSPROF_TRACER=y
CONFIG_SCHED_TRACER=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_TRACE_SAVED_CMDLINES=2048

