#.........................................................................
#                                WARNING
#
# This file is a kernel configuration fragment, and not a full kernel
# configuration file.  The final kernel configuration is made up of
# an assembly of processed fragments, each of which is designed to
# capture a specific part of the final configuration (e.g. platform
# configuration, feature configuration, and board specific hardware
# configuration).  For more information on kernel configuration, please
# consult the product documentation.
#
#.........................................................................

#
# MCE support
#
CONFIG_X86_MCE=y
CONFIG_X86_MCE_INTEL=y
CONFIG_X86_MCE_INJECT=m

#
# APEI support
#
CONFIG_ACPI_APEI=y
CONFIG_ACPI_APEI_GHES=y
CONFIG_ACPI_APEI_PCIEAER=y
CONFIG_ACPI_APEI_MEMORY_FAILURE=y
CONFIG_ACPI_APEI_EINJ=m
CONFIG_ACPI_APEI_ERST_DEBUG=m

#
# EDAC model-specific support
#
CONFIG_EDAC_E752X=m
CONFIG_EDAC_I82975X=m
CONFIG_EDAC_I3000=m
CONFIG_EDAC_I3200=m
CONFIG_EDAC_X38=m
CONFIG_EDAC_I5400=m
CONFIG_EDAC_I7CORE=m
CONFIG_EDAC_I5000=m
CONFIG_EDAC_I5100=m
CONFIG_EDAC_I7300=m
CONFIG_EDAC_SBRIDGE=m
