From b9f72314405023dd45610762773396592d8a8b74 Mon Sep 17 00:00:00 2001
From: Shaohui Xie <Shaohui.Xie@freescale.com>
Date: Sun, 7 Jun 2015 14:14:50 +0800
Subject: [PATCH 187/451] Kconfig: enable ftm_alarm for LS1043A

Signed-off-by: Shaohui Xie <Shaohui.Xie@freescale.com>
Signed-off-by: Mingkai Hu <Mingkai.Hu@freescale.com>
[Xulin: Original patch taken from
Linux-LS1043A-SDK-V0.4-SOURCE-20150826-yocto.iso, remove defconfig
related changes]
Signed-off-by: Xulin Sun <xulin.sun@windriver.com>
---
 drivers/soc/fsl/ls/Kconfig |    2 +-
 1 files changed, 1 insertions(+), 1 deletions(-)

diff --git a/drivers/soc/fsl/ls/Kconfig b/drivers/soc/fsl/ls/Kconfig
index bf6af38..5e9d4f2 100644
--- a/drivers/soc/fsl/ls/Kconfig
+++ b/drivers/soc/fsl/ls/Kconfig
@@ -3,7 +3,7 @@
 #
 config  FTM_ALARM
 	bool "FTM alarm driver"
-	depends on SOC_LS1021A || ARCH_FSL_LS2085A
+	depends on SOC_LS1021A || ARCH_FSL_LS2085A || ARCH_FSL_LS1043A
 	default n
 	help
 	Say y here to enable FTM alarm support.  The FTM alarm provides
-- 
1.7.5.4

