..........................................................................
.                                WARNING
.
. This file is a kernel configuration fragment, and not a full kernel
. configuration file.  The final kernel configuration is made up of
. an assembly of processed fragments, each of which is designed to
. capture a specific part of the final configuration (e.g. platform
. configuration, feature configuration, and board specific hardware
. configuration).  For more information on kernel configuration, please
. consult the product documentation.
.
..........................................................................
CONFIG_KGDB=y
CONFIG_KGDB_ONLY_MODULES=y
CONFIG_KGDBOE=m
CONFIG_NETPOLL=y
# CONFIG_KGDBOE_NOMODULE is not set
# CONFIG_KGDB_CONSOLE is not set

# this breaks sw breakpoints if on, turn it off
# CONFIG_DEBUG_RODATA is not set
