..........................................................................
.                                WARNING
.
. This file is a kernel configuration fragment, and not a full kernel
. configuration file.  The final kernel configuration is made up of
. an assembly of processed fragments, each of which is designed to
. capture a specific part of the final configuration (e.g. platform
. configuration, feature configuration, and board specific hardware
. configuration).  For more information on kernel configuration, please
. consult the product documentation.
.
..........................................................................

CONFIG_FB=y
# Use FB_VESA as FB_I810 and FB_INTEL are experimental.
CONFIG_FB_VESA=y
CONFIG_FRAMEBUFFER_CONSOLE=y

CONFIG_SOUND=y
CONFIG_SND=y
CONFIG_SND_SEQUENCER=y
CONFIG_SND_AC97_CODEC=y
CONFIG_SND_OSSEMUL=y
CONFIG_SND_MIXER_OSS=y
CONFIG_SND_PCM_OSS=y
CONFIG_SND_PCM_OSS_PLUGINS=y
CONFIG_SND_SEQUENCER_OSS=y
CONFIG_SND_INTEL8X0=y

