# Build EABI kernels that support EABI system calls.
CONFIG_AEABI=y

# Provide support for the old ABI's system calls.
CONFIG_OABI_COMPAT=y
CONFIG_ARM_THUMB=y

# Failure to use this on ARM results in lots of interesting runtime bugs.
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
