#
# RCU Subsystem
#
CONFIG_TINY_RCU=y

CONFIG_EXPERT=y
CONFIG_EMBEDDED=y

CONFIG_CC_OPTIMIZE_FOR_SIZE=y

CONFIG_SLUB=y

CONFIG_BASE_SMALL=1

CONFIG_PHYSICAL_START=0x1000000
CONFIG_PHYSICAL_ALIGN=0x1000000

# -15% of bzImage size over gz
CONFIG_KERNEL_LZMA=y

# Support initramfs for root fs
# Use root=/dev/ram0 and pass the cpio.gz image as the initrd
CONFIG_BLK_DEV=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_BLK_DEV_RAM=y
CONFIG_BLK_DEV_RAM_COUNT=1
CONFIG_BLK_DEV_RAM_SIZE=6144
CONFIG_RD_GZIP=y
