From a58a65e009485c6d2822c9478038bc30e1465646 Mon Sep 17 00:00:00 2001
From: Bruce Ashfield <bruce.ashfield@windriver.com>
Date: Mon, 2 Feb 2009 11:59:24 -0500
Subject: [PATCH 1/3] kconfig: OCD hooks

Allows the Wind River OCD tool to get module symbols
for module debug. It will also disable any potential manipulation
of the debug control register, which is generally done by further
selecting CONFIG_BDI_SWITCH.

Signed-off-by: Bruce Ashfield <bruce.ashfield@windriver.com>
---
 lib/Kconfig.debug |   13 ++++++++++++-
 1 files changed, 12 insertions(+), 1 deletions(-)

diff --git a/lib/Kconfig.debug b/lib/Kconfig.debug
index 5289761..d9f9ef8 100644
--- a/lib/Kconfig.debug
+++ b/lib/Kconfig.debug
@@ -20,6 +20,16 @@ config PRINTK_TIME
 	  operations.  This is useful for identifying long delays
 	  in kernel startup.
 
+config WR_OCD_DEBUG
+	bool "WR_OCD_DEBUG: Debugging with WindRiver System OCD"
+	select DEBUG_INFO
+	select BDI_SWITCH
+	help
+	  If you say Y here, WindRiver OCD tool can get module symbols
+	  for module debug. It will also disable any potential manipulation
+	  of the debug control register, which is generally done by further
+	  selecting CONFIG_BDI_SWITCH. If unsure, say N.
+
 config ENABLE_WARN_DEPRECATED
 	bool "Enable __deprecated logic"
 	default y
@@ -632,7 +642,8 @@ config DEBUG_BUGVERBOSE
 
 config DEBUG_INFO
 	bool "Compile the kernel with debug info"
-	depends on DEBUG_KERNEL
+	depends on DEBUG_KERNEL || WR_OCD_DEBUG
+	default y if WR_OCD_DEBUG
 	help
           If you say Y here the resulting kernel image will include
 	  debugging info resulting in a larger kernel image.
-- 
1.6.5.2

