#.........................................................................
#                                WARNING
#
# This file is a kernel configuration fragment, and not a full kernel
# configuration file.  The final kernel configuration is made up of
# an assembly of processed fragments, each of which is designed to
# capture a specific part of the final configuration (e.g. platform
# configuration, feature configuration, and board specific hardware
# configuration).  For more information on kernel configuration, please
# consult the product documentation.
#
#.........................................................................

# CONFIG_ARMADAXP_USE_IRQ_INDIRECT_MODE is not set
CONFIG_MV_AMP_ENABLE=y
CONFIG_MV_DRAM_BASE=0x20000000
CONFIG_MV_UART_PORT=1
CONFIG_MV_ZREL_ADDR=0x20008000
CONFIG_MV_PARAM_PHYS=0x20000100
CONFIG_MV_INITRD_PHYS=0x20800000
