# iwlwifi depends on NETDEVICES (base.cfg), PCI, and MAC80211 (includes WLAN)
CONFIG_PCI=y

# Intel 6205 ABGN
# Build as a module to avoid having to install the firmware into the initrd
CONFIG_IWLWIFI=m
CONFIG_IWLWIFI_P2P=y
