Subject: kconfig-preempt-rt-full.patch
From: Thomas Gleixner <tglx@linutronix.de>
Date: Wed, 29 Jun 2011 14:58:57 +0200

Signed-off-by: Thomas Gleixner <tglx@linutronix.de>
---
 kernel/Kconfig.preempt |    8 ++++++++
 1 file changed, 8 insertions(+)

Index: linux-2.6/kernel/Kconfig.preempt
===================================================================
--- linux-2.6.orig/kernel/Kconfig.preempt
+++ linux-2.6/kernel/Kconfig.preempt
@@ -59,11 +59,19 @@ config PREEMPT_LL
 
 config PREEMPT_RTB
 	bool "Preemptible Kernel (Basic RT)"
+	depends on IRQ_FORCED_THREADING
 	select PREEMPT_RT_BASE
 	help
 	  This option is basically the same as (Low-Latency Desktop) but
 	  enables changes which are preliminary for the full preemptiple
 	  RT kernel.
 
+config PREEMPT_RT_FULL
+	bool "Fully Preemptible Kernel (RT)"
+	depends on IRQ_FORCED_THREADING
+	select PREEMPT_RT_BASE
+	help
+	  All and everything
+
 endchoice
 
