From 7b81cddf7d7fdf496cb41c61b57406b22fbfa12e Mon Sep 17 00:00:00 2001
From: Eran Ben-Avi <benavi@marvell.com>
Date: Thu, 11 Jul 2013 18:04:09 +0300
Subject: [PATCH 0802/1825] kconfig: Resolved Kconfig conflicts after addig
 Avanta-MC support.

https://github.com/MISL-EBU-System-SW/misl-windriver.git linux-3.4.69-14t2-read
commit bcdafecc258a24abf2498e4da0cceae7898e3f93

	This commit renames conflicting symbols from Armada and Avanta-MC.

Change-Id: I427a90b4bde5ee75406507a73978168679671cad
Signed-off-by: Piotr Ziecik <kosmo@semihalf.com>
Signed-off-by: Eran Ben-Avi <benavi@marvell.com>
Signed-off-by: Zhong Hongbo <hongbo.zhong@windriver.com>
---
 arch/arm/Kconfig                                   |   12 +++++-----
 arch/arm/configs/avanta_mc_defconfig               |    2 +-
 arch/arm/include/asm/dma-mapping.h                 |    2 +-
 arch/arm/mach-armada370/config/mvSysTdmConfig.h    |    2 +-
 arch/arm/mach-armadaxp/config/mvSysHwConfig.h      |    2 +-
 arch/arm/mach-armadaxp/config/mvSysTdmConfig.h     |    2 +-
 arch/arm/mach-avantalp/config/mvSysHwConfig.h      |    2 +-
 arch/arm/mach-avantalp/config/mvSysTdmConfig.h     |    2 +-
 arch/arm/mach-feroceon-kw2/Makefile                |   18 +++++++-------
 arch/arm/mach-feroceon-kw2/config/mvRules.mk       |   10 ++++----
 arch/arm/mach-feroceon-kw2/config/mvSysEthConfig.h |    4 +-
 arch/arm/mach-feroceon-kw2/core.c                  |    8 +++---
 arch/arm/mach-feroceon-kw2/export.c                |    2 +-
 .../kw2_family/boardEnv/mvBoardEnvLib.c            |    8 +++---
 .../kw2_family/ctrlEnv/mvCtrlEnvLib.c              |    8 +++---
 .../kw2_family/ctrlEnv/mvCtrlEnvSpec.h             |    4 +-
 arch/arm/mach-kirkwood/export.c                    |    2 +-
 .../plat-armada/mv_drivers_lsp/mv_phone/Kconfig    |    2 +-
 arch/arm/plat-feroceon/Kconfig                     |   24 ++++++++++----------
 .../plat-feroceon/mv_drivers_lsp/mv_cesa/Kconfig   |    8 +++---
 .../plat-feroceon/mv_drivers_lsp/mv_cesa/Makefile  |    7 +++--
 .../plat-feroceon/mv_drivers_lsp/mv_neta/Kconfig   |   10 ++++----
 .../mv_drivers_lsp/mv_neta/net_dev/mv_netdev.c     |    2 +-
 .../mv_drivers_lsp/mv_network/Kconfig              |    4 +-
 .../plat-feroceon/mv_drivers_lsp/mv_sata/Kconfig   |    8 +++---
 .../plat-feroceon/mv_drivers_lsp/mv_tsu/mv_tsu.c   |    2 +-
 .../mv_drivers_lsp/mv_xor/mv_netdma.c              |    2 +-
 .../arm/plat-feroceon/mv_hal/pon/mvPonOnuDefines.h |    8 +++---
 .../plat-feroceon/mv_hal/usb/device/mvUsbDevMain.c |    2 +-
 29 files changed, 85 insertions(+), 84 deletions(-)

diff --git a/arch/arm/Kconfig b/arch/arm/Kconfig
index fa49ac5..540f341 100644
--- a/arch/arm/Kconfig
+++ b/arch/arm/Kconfig
@@ -1156,8 +1156,8 @@ source "arch/arm/mach-ixp2000/Kconfig"
 
 source "arch/arm/mach-ixp23xx/Kconfig"
 
-# source "arch/arm/mach-kirkwood/Kconfig"
-# source "arch/arm/plat-orion/Kconfig"
+source "arch/arm/mach-kirkwood/Kconfig"
+source "arch/arm/plat-orion/Kconfig"
 
 source "arch/arm/mach-ks8695/Kconfig"
 
@@ -1193,10 +1193,10 @@ source "arch/arm/mach-realview/Kconfig"
 
 source "arch/arm/mach-sa1100/Kconfig"
 
-# source "arch/arm/mach-armada370/Kconfig"
-# source "arch/arm/mach-armadaxp/Kconfig"
-# source "arch/arm/mach-avantalp/Kconfig"
-# source "arch/arm/plat-armada/Kconfig"
+source "arch/arm/mach-armada370/Kconfig"
+source "arch/arm/mach-armadaxp/Kconfig"
+source "arch/arm/mach-avantalp/Kconfig"
+source "arch/arm/plat-armada/Kconfig"
 source "arch/arm/plat-feroceon/Kconfig"
 
 source "arch/arm/plat-samsung/Kconfig"
diff --git a/arch/arm/configs/avanta_mc_defconfig b/arch/arm/configs/avanta_mc_defconfig
index be07197..858cc20 100644
--- a/arch/arm/configs/avanta_mc_defconfig
+++ b/arch/arm/configs/avanta_mc_defconfig
@@ -35,7 +35,7 @@ CONFIG_FEROCEON_PROC=y
 CONFIG_UBOOT_STRUCT=y
 CONFIG_MV_REAL_TIME=y
 CONFIG_MV_PMU_PROC=y
-CONFIG_MV_ETH_NETA=y
+CONFIG_MV_ETH_NETA_KW2=y
 CONFIG_MV_ETH_PORTS_NUM=3
 CONFIG_MV_ETH_RXQ=8
 CONFIG_MV_ETH_TXQ=8
diff --git a/arch/arm/include/asm/dma-mapping.h b/arch/arm/include/asm/dma-mapping.h
index 0842c88..6b261f8 100644
--- a/arch/arm/include/asm/dma-mapping.h
+++ b/arch/arm/include/asm/dma-mapping.h
@@ -216,7 +216,7 @@ extern void __init init_dma_coherent_pool_size(unsigned long size);
  */
 static inline void init_consistent_dma_size(unsigned long size) { }
 
-#ifdef	CONFIG_MV_SP_I_FTCH_DB_INV
+#if defined(CONFIG_MV_SP_I_FTCH_DB_INV) || defined(CONFIG_MV_SP_I_FTCH_DB_INV_KW2)
 extern void mv_l2_inv_range(const void *start, const void *end);
 static inline void mv_l2_sync(const void *start, size_t size, int direction)
 {
diff --git a/arch/arm/mach-armada370/config/mvSysTdmConfig.h b/arch/arm/mach-armada370/config/mvSysTdmConfig.h
index 28d71b0..c979764 100644
--- a/arch/arm/mach-armada370/config/mvSysTdmConfig.h
+++ b/arch/arm/mach-armada370/config/mvSysTdmConfig.h
@@ -106,7 +106,7 @@ SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 	#endif
 #endif
 
-#if defined(CONFIG_MV_TDM_USE_EXTERNAL_PCLK_SOURCE)
+#if defined(CONFIG_MV_TDM_USE_EXTERNAL_PCLK_SOURCE_ARMADA)
  #define MV_TDM_USE_EXTERNAL_PCLK_SOURCE
 #endif
 
diff --git a/arch/arm/mach-armadaxp/config/mvSysHwConfig.h b/arch/arm/mach-armadaxp/config/mvSysHwConfig.h
index e76ea16..3140919 100644
--- a/arch/arm/mach-armadaxp/config/mvSysHwConfig.h
+++ b/arch/arm/mach-armadaxp/config/mvSysHwConfig.h
@@ -266,7 +266,7 @@ disclaimer.
  #define MV_TDM_5CHANNELS 
 #endif
 
-#if defined(CONFIG_MV_TDM_USE_EXTERNAL_PCLK_SOURCE)
+#if defined(CONFIG_MV_TDM_USE_EXTERNAL_PCLK_SOURCE_ARMADA)
  #define MV_TDM_USE_EXTERNAL_PCLK_SOURCE
 #endif
 
diff --git a/arch/arm/mach-armadaxp/config/mvSysTdmConfig.h b/arch/arm/mach-armadaxp/config/mvSysTdmConfig.h
index 7946fdf..e7abb9e 100644
--- a/arch/arm/mach-armadaxp/config/mvSysTdmConfig.h
+++ b/arch/arm/mach-armadaxp/config/mvSysTdmConfig.h
@@ -63,6 +63,6 @@ disclaimer.
 	#define SILABS_SLIC_3215_OLD_SUPPORT
 #endif
 
-#if defined(CONFIG_MV_TDM_USE_EXTERNAL_PCLK_SOURCE)
+#if defined(CONFIG_MV_TDM_USE_EXTERNAL_PCLK_SOURCE_ARMADA)
  #define MV_TDM_USE_EXTERNAL_PCLK_SOURCE
 #endif
diff --git a/arch/arm/mach-avantalp/config/mvSysHwConfig.h b/arch/arm/mach-avantalp/config/mvSysHwConfig.h
index b15794c..e7464dc 100755
--- a/arch/arm/mach-avantalp/config/mvSysHwConfig.h
+++ b/arch/arm/mach-avantalp/config/mvSysHwConfig.h
@@ -220,7 +220,7 @@ disclaimer.
  #define MV_TDM_5CHANNELS
 #endif
 
-#if defined(CONFIG_MV_TDM_USE_EXTERNAL_PCLK_SOURCE)
+#if defined(CONFIG_MV_TDM_USE_EXTERNAL_PCLK_SOURCE_ARMADA)
  #define MV_TDM_USE_EXTERNAL_PCLK_SOURCE
 #endif
 
diff --git a/arch/arm/mach-avantalp/config/mvSysTdmConfig.h b/arch/arm/mach-avantalp/config/mvSysTdmConfig.h
index 7946fdf..e7abb9e 100644
--- a/arch/arm/mach-avantalp/config/mvSysTdmConfig.h
+++ b/arch/arm/mach-avantalp/config/mvSysTdmConfig.h
@@ -63,6 +63,6 @@ disclaimer.
 	#define SILABS_SLIC_3215_OLD_SUPPORT
 #endif
 
-#if defined(CONFIG_MV_TDM_USE_EXTERNAL_PCLK_SOURCE)
+#if defined(CONFIG_MV_TDM_USE_EXTERNAL_PCLK_SOURCE_ARMADA)
  #define MV_TDM_USE_EXTERNAL_PCLK_SOURCE
 #endif
diff --git a/arch/arm/mach-feroceon-kw2/Makefile b/arch/arm/mach-feroceon-kw2/Makefile
index 5ebdefc..b4cf850 100644
--- a/arch/arm/mach-feroceon-kw2/Makefile
+++ b/arch/arm/mach-feroceon-kw2/Makefile
@@ -74,14 +74,14 @@ feroceon-$(CONFIG_MV_INCLUDE_USB) 	+= $(HAL_USB_DIR)/mvUsb.o $(HAL_USB_DIR)/mvUs
 feroceon-y				+= $(HAL_ETHPHY_DIR)/mvEthPhy.o $(HAL_IF_DIR)/mvSysEthPhy.o
 
 # Legacy Giga driver
-ifeq ($(CONFIG_MV_ETH_LEGACY),y)
-feroceon-$(CONFIG_MV_ETH_LEGACY)	+= $(HAL_ETH_GBE_DIR)/mvEth.o $(HAL_ETH_GBE_DIR)/mvEthDebug.o \
+ifeq ($(CONFIG_MV_ETH_LEGACY_KW2),y)
+feroceon-$(CONFIG_MV_ETH_LEGACY_KW2)	+= $(HAL_ETH_GBE_DIR)/mvEth.o $(HAL_ETH_GBE_DIR)/mvEthDebug.o \
 					   $(HAL_ETH_GBE_DIR)/mvEthAddrDec.o $(HAL_IF_DIR)/mvSysEth.o
 endif
 
 # NETA Giga driver
-ifeq ($(CONFIG_MV_ETH_NETA),y)
-feroceon-$(CONFIG_MV_ETH_NETA)	        += $(HAL_ETH_GBE_DIR)/mvNeta.o $(HAL_ETH_GBE_DIR)/mvNetaDebug.o \
+ifeq ($(CONFIG_MV_ETH_NETA_KW2),y)
+feroceon-$(CONFIG_MV_ETH_NETA_KW2)        += $(HAL_ETH_GBE_DIR)/mvNeta.o $(HAL_ETH_GBE_DIR)/mvNetaDebug.o \
 					   $(HAL_ETH_GBE_DIR)/mvNetaAddrDec.o $(HAL_IF_DIR)/mvSysNeta.o
 feroceon-$(CONFIG_MV_ETH_PNC)    	+= $(HAL_ETH_PNC_DIR)/mvTcam.o  $(HAL_ETH_PNC_DIR)/mvPncAging.o \
 					$(HAL_ETH_PNC_DIR)/mvPnc.o $(HAL_ETH_PNC_DIR)/mvPncLb.o
@@ -97,7 +97,7 @@ feroceon-$(CONFIG_MV_INCLUDE_CESA) 	+= $(HAL_CESA_DIR)/mvCesa.o $(HAL_CESA_DIR)/
 					   $(HAL_CESA_DIR)/mvSHA256.o 					 \
 					   $(HAL_CESA_AES_DIR)/mvAesAlg.o $(HAL_CESA_AES_DIR)/mvAesApi.o \
 					   $(HAL_IF_DIR)/mvSysCesa.o
-feroceon-$(CONFIG_MV_CESA_TEST) 	+= $(HAL_CESA_DIR)/mvCesaTest.o
+feroceon-$(CONFIG_MV_CESA_TEST_KW2) 	+= $(HAL_CESA_DIR)/mvCesaTest.o
 feroceon-$(CONFIG_MV_INCLUDE_INTEG_SATA)+= $(HAL_IF_DIR)/mvSysSata.o $(HAL_SATA_DIR)/mvSataSoc.o	\
 					   $(HAL_SATA_DIR)/mvSataAddrDec.o
 feroceon-$(CONFIG_MV_INCLUDE_SPI) 	+= $(HAL_SPI_DIR)/mvSpi.o $(HAL_SPI_DIR)/mvSpiCmnd.o 		\
@@ -118,8 +118,8 @@ obj-$(CONFIG_MV_INCLUDE_SWITCH) 	+= $(QD_OBJS)
 # drivers part
 # Legacy Giga driver
 
-ifeq ($(CONFIG_MV_ETH_NETA),y)
-obj-$(CONFIG_MV_ETH_NETA) 	        += ../plat-feroceon/mv_drivers_lsp/mv_neta/net_dev/
+ifeq ($(CONFIG_MV_ETH_NETA_KW2),y)
+obj-$(CONFIG_MV_ETH_NETA_KW2) 	        += ../plat-feroceon/mv_drivers_lsp/mv_neta/net_dev/
 obj-$(CONFIG_MV_ETH_PNC)                += $(LSP_PNC_DIR)/pnc_sysfs.o
 obj-$(CONFIG_MV_ETH_BM)                 += $(LSP_BM_DIR)/bm_sysfs.o  $(LSP_BM_DIR)/mv_eth_bm.o
 obj-$(CONFIG_MV_ETH_PNC_WOL)            += $(LSP_PNC_DIR)/wol_sysfs.o
@@ -144,8 +144,8 @@ obj-$(CONFIG_MV_INCLUDE_SWITCH)         += $(LSP_SWITCH_DIR)/
 obj-y					+= ../plat-feroceon/mv_drivers_lsp/mv_ezxml/
 
 #PON
-obj-$(CONFIG_MV_GPON) += ../plat-feroceon/mv_drivers_lsp/mv_pon/
-obj-$(CONFIG_MV_EPON) += ../plat-feroceon/mv_drivers_lsp/mv_pon/
+obj-$(CONFIG_MV_GPON_KW2) += ../plat-feroceon/mv_drivers_lsp/mv_pon/
+obj-$(CONFIG_MV_EPON_KW2) += ../plat-feroceon/mv_drivers_lsp/mv_pon/
 
 #TPM
 obj-$(CONFIG_MV_TPM) += ../plat-feroceon/mv_drivers_lsp/mv_tpm/
diff --git a/arch/arm/mach-feroceon-kw2/config/mvRules.mk b/arch/arm/mach-feroceon-kw2/config/mvRules.mk
index 435cc0e..afeb617 100644
--- a/arch/arm/mach-feroceon-kw2/config/mvRules.mk
+++ b/arch/arm/mach-feroceon-kw2/config/mvRules.mk
@@ -69,7 +69,7 @@ endif
 
 LSP_EZXML_DIR     = $(PLAT_DRIVERS)/mv_ezxml
 
-ifeq ($(CONFIG_MV_ETH_NETA),y)
+ifeq ($(CONFIG_MV_ETH_NETA_KW2),y)
 HAL_ETH_DIR       = $(HAL_DIR)/neta
 HAL_ETH_GBE_DIR   = $(HAL_DIR)/neta/gbe
 HAL_ETH_PNC_DIR   = $(HAL_DIR)/neta/pnc
@@ -85,7 +85,7 @@ LSP_L2FW_DIR      = $(LSP_NETWORK_DIR)/l2fw
 LSP_SWITCH_DIR    = $(PLAT_DRIVERS)/mv_switch
 endif
 
-ifeq ($(CONFIG_MV_ETH_LEGACY),y)
+ifeq ($(CONFIG_MV_ETH_LEGACY_KW2),y)
 HAL_ETH_DIR       = $(HAL_DIR)/eth
 HAL_ETH_GBE_DIR   = $(HAL_DIR)/eth/gbe
 LSP_NETWORK_DIR   = $(PLAT_DRIVERS)/mv_network
@@ -183,15 +183,15 @@ EXTRA_INCLUDE   += $(QD_PATH)
 EXTRA_CFLAGS    += -DLINUX
 endif
 
-ifeq ($(CONFIG_MV_CESA_TEST),y)
+ifeq ($(CONFIG_MV_CESA_TEST_KW2),y)
 EXTRA_CFLAGS 	+= -DCONFIG_MV_CESA_TEST
 endif
 
-ifeq ($(CONFIG_SATA_DEBUG_ON_ERROR),y)
+ifeq ($(CONFIG_SATA_DEBUG_ON_ERROR_KW2),y)
 EXTRA_CFLAGS    += -DMV_LOG_ERROR
 endif
 
-ifeq ($(CONFIG_SATA_FULL_DEBUG),y)
+ifeq ($(CONFIG_SATA_FULL_DEBUG_KW2),y)
 EXTRA_CFLAGS    += -DMV_LOG_DEBUG
 endif
 
diff --git a/arch/arm/mach-feroceon-kw2/config/mvSysEthConfig.h b/arch/arm/mach-feroceon-kw2/config/mvSysEthConfig.h
index 376bad9..97f68a8 100644
--- a/arch/arm/mach-feroceon-kw2/config/mvSysEthConfig.h
+++ b/arch/arm/mach-feroceon-kw2/config/mvSysEthConfig.h
@@ -105,7 +105,7 @@ SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 /* port's default queueus */
 #define ETH_DEF_RXQ         0
 
-#ifdef CONFIG_MV_ETH_LEGACY
+#ifdef CONFIG_MV_ETH_LEGACY_KW2
 
 #undef MV_FP_STATISTICS
 
@@ -187,7 +187,7 @@ SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 /* Checksum offloading */
 #define TX_CSUM_OFFLOAD
 #define RX_CSUM_OFFLOAD
-#endif /* CONFIG_MV_ETH_LEGACY */
+#endif /* CONFIG_MV_ETH_LEGACY_KW2 */
 
 #endif /* CONFIG_MV_INCLUDE_GIG_ETH */
 
diff --git a/arch/arm/mach-feroceon-kw2/core.c b/arch/arm/mach-feroceon-kw2/core.c
index ae98342..9b30af9 100644
--- a/arch/arm/mach-feroceon-kw2/core.c
+++ b/arch/arm/mach-feroceon-kw2/core.c
@@ -532,13 +532,13 @@ static struct platform_device mv_sdio_plat = {
 /*****************************************************************************
  * Ethernet
  ****************************************************************************/
-#if defined(CONFIG_MV_ETH_LEGACY)
+#if defined(CONFIG_MV_ETH_LEGACY_KW2)
 static struct platform_device mv88fx_eth = {
 	.name		= "mv88fx_eth",
 	.id		= 0,
 	.num_resources	= 0,
 };
-#elif defined(CONFIG_MV_ETH_NETA)
+#elif defined(CONFIG_MV_ETH_NETA_KW2)
 static struct platform_device mv88fx_neta = {
 	.name		= "mv88fx_neta",
 	.id		= 0,
@@ -688,9 +688,9 @@ static void __init mv_init(void)
 #endif
 
 #ifdef CONFIG_MV_ETHERNET
-#if defined(CONFIG_MV_ETH_LEGACY)
+#if defined(CONFIG_MV_ETH_LEGACY_KW2)
 	platform_device_register(&mv88fx_eth);
-#elif defined(CONFIG_MV_ETH_NETA)
+#elif defined(CONFIG_MV_ETH_NETA_KW2)
 	mv88fx_neta.dev.platform_data = NULL;
 	platform_device_register(&mv88fx_neta);
 #endif
diff --git a/arch/arm/mach-feroceon-kw2/export.c b/arch/arm/mach-feroceon-kw2/export.c
index 2d190ac..d8dd89a 100644
--- a/arch/arm/mach-feroceon-kw2/export.c
+++ b/arch/arm/mach-feroceon-kw2/export.c
@@ -207,7 +207,7 @@ EXPORT_SYMBOL(mvSataWinInit);
 EXPORT_SYMBOL(asm_memcpy);
 #endif
 
-#ifdef CONFIG_MV_SP_I_FTCH_DB_INV
+#ifdef CONFIG_MV_SP_I_FTCH_DB_INV_KW2
 EXPORT_SYMBOL(mv_l2_inv_range);
 #endif
 
diff --git a/arch/arm/mach-feroceon-kw2/kw2_family/boardEnv/mvBoardEnvLib.c b/arch/arm/mach-feroceon-kw2/kw2_family/boardEnv/mvBoardEnvLib.c
index cda1f87..74b3736 100644
--- a/arch/arm/mach-feroceon-kw2/kw2_family/boardEnv/mvBoardEnvLib.c
+++ b/arch/arm/mach-feroceon-kw2/kw2_family/boardEnv/mvBoardEnvLib.c
@@ -75,11 +75,11 @@ SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 #include "gpp/mvGppRegs.h"
 #include "ctrlEnv/mvCtrlEthCompLib.h"
 
-#if defined(CONFIG_MV_ETH_LEGACY)
+#if defined(CONFIG_MV_ETH_LEGACY_KW2)
 #include "eth/gbe/mvEthGbe.h"
 #else
 #include "neta/gbe/mvNeta.h"
-#endif /* CONFIG_MV_ETH_LEGACY or CONFIG_MV_ETH_NETA */
+#endif /* CONFIG_MV_ETH_LEGACY_KW2 or CONFIG_MV_ETH_NETA */
 
 /* defines  */
 /* #define MV_DEBUG */
@@ -1957,7 +1957,7 @@ MV_VOID mvBoardMppIdUpdate(MV_VOID)
 		MV_REG_BIT_SET(MPP_OUTPUT_DRIVE_REG, MPP_GE_B_1_8_OUTPUT_DRIVE);
 	}
 
-#if defined(CONFIG_MV_ETH_LEGACY)
+#if defined(CONFIG_MV_ETH_LEGACY_KW2)
 	{
 		MV_U32 portMode;
 
@@ -1975,7 +1975,7 @@ MV_VOID mvBoardMppIdUpdate(MV_VOID)
 		if (ethConfig & (ESC_OPT_GEPHY_MAC1 | ESC_OPT_MAC1_2_SW_P5))
 			mvEthGmacRgmiiSet(1, 0);
 	}
-#endif /* CONFIG_MV_ETH_LEGACY */
+#endif /* CONFIG_MV_ETH_LEGACY_KW2 */
 
 	return;
 }
diff --git a/arch/arm/mach-feroceon-kw2/kw2_family/ctrlEnv/mvCtrlEnvLib.c b/arch/arm/mach-feroceon-kw2/kw2_family/ctrlEnv/mvCtrlEnvLib.c
index c0dbeba..cde379d 100644
--- a/arch/arm/mach-feroceon-kw2/kw2_family/ctrlEnv/mvCtrlEnvLib.c
+++ b/arch/arm/mach-feroceon-kw2/kw2_family/ctrlEnv/mvCtrlEnvLib.c
@@ -78,11 +78,11 @@ SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 #endif
 
 #if defined(MV_INCLUDE_GIG_ETH)
-#if defined(CONFIG_MV_ETH_LEGACY)
+#if defined(CONFIG_MV_ETH_LEGACY_KW2)
 #include "eth/mvEth.h"
 #else
 #include "neta/gbe/mvNeta.h"
-#endif /* CONFIG_MV_ETH_LEGACY or CONFIG_MV_ETH_NETA */
+#endif /* CONFIG_MV_ETH_LEGACY_KW2 or CONFIG_MV_ETH_NETA */
 #endif
 
 #if defined(MV_INCLUDE_XOR)
@@ -1708,11 +1708,11 @@ MV_VOID mvCtrlAddrDecShow(MV_VOID)
 #endif
 
 #if defined(MV_INCLUDE_GIG_ETH)
-#if defined(CONFIG_MV_ETH_LEGACY)
+#if defined(CONFIG_MV_ETH_LEGACY_KW2)
 	mvUnitAddrDecShow(mvCtrlEthMaxPortGet(), ETH_GIG_UNIT_ID, "ETH", mvEthWinRead);
 #else
 	mvUnitAddrDecShow(mvCtrlEthMaxPortGet(), ETH_GIG_UNIT_ID, "ETH", mvNetaWinRead);
-#endif /* CONFIG_MV_ETH_LEGACY */
+#endif /* CONFIG_MV_ETH_LEGACY_KW2 */
 #endif /* MV_INCLUDE_GIG_ETH */
 
 #if defined(MV_INCLUDE_XOR)
diff --git a/arch/arm/mach-feroceon-kw2/kw2_family/ctrlEnv/mvCtrlEnvSpec.h b/arch/arm/mach-feroceon-kw2/kw2_family/ctrlEnv/mvCtrlEnvSpec.h
index eed78d3..f970df5 100644
--- a/arch/arm/mach-feroceon-kw2/kw2_family/ctrlEnv/mvCtrlEnvSpec.h
+++ b/arch/arm/mach-feroceon-kw2/kw2_family/ctrlEnv/mvCtrlEnvSpec.h
@@ -104,11 +104,11 @@ extern "C" {
 #define MV_PEX_IF_REGS_OFFSET(pexIf)      	(0x40000 + (0x4000 * pexIf))
 #define MV_USB_REGS_OFFSET(dev)       		0x50000
 
-#if defined(CONFIG_MV_ETH_LEGACY)
+#if defined(CONFIG_MV_ETH_LEGACY_KW2)
 #define MV_ETH_REGS_OFFSET(port)      		(((port) == 0) ? 0x72000 : 0x76000)
 #else
 #define MV_ETH_REGS_OFFSET(port)      		(((port) == 0) ? 0x70000 : 0x74000)
-#endif /* CONFIG_MV_ETH_LEGACY */
+#endif /* CONFIG_MV_ETH_LEGACY_KW2 */
 
 #define MV_ETH_ONLY_REGS_OFFSET			0x72000
 #define MV_SATA_REGS_OFFSET			0x80000
diff --git a/arch/arm/mach-kirkwood/export.c b/arch/arm/mach-kirkwood/export.c
index d45e17f..743376a 100644
--- a/arch/arm/mach-kirkwood/export.c
+++ b/arch/arm/mach-kirkwood/export.c
@@ -95,7 +95,7 @@ EXPORT_SYMBOL(cesaReqResources);
 EXPORT_SYMBOL(mvCesaFinish);
 #endif /* CONFIG_MV_INCLUDE_CESA */
 
-#ifdef CONFIG_MV_CESA_OCF
+#ifdef CONFIG_MV_CESA_OCF_KW2
 extern void cesa_ocf_debug(void);
 EXPORT_SYMBOL(cesa_ocf_debug);
 #endif
diff --git a/arch/arm/plat-armada/mv_drivers_lsp/mv_phone/Kconfig b/arch/arm/plat-armada/mv_drivers_lsp/mv_phone/Kconfig
index d2a7419..b83fe67 100644
--- a/arch/arm/plat-armada/mv_drivers_lsp/mv_phone/Kconfig
+++ b/arch/arm/plat-armada/mv_drivers_lsp/mv_phone/Kconfig
@@ -153,7 +153,7 @@ config MV_PHONE_USE_IRQ_PROCESSING
 	depends on MV_PHONE_USE_IRQ_PROCESSING_ARMADA
 	bool
 
-config MV_TDM_USE_EXTERNAL_PCLK_SOURCE
+config MV_TDM_USE_EXTERNAL_PCLK_SOURCE_ARMADA
 	bool "Support PCLK from external source"
 	depends on MV_PHONE
 	default n
diff --git a/arch/arm/plat-feroceon/Kconfig b/arch/arm/plat-feroceon/Kconfig
index 3874c60..fd64074 100644
--- a/arch/arm/plat-feroceon/Kconfig
+++ b/arch/arm/plat-feroceon/Kconfig
@@ -225,14 +225,14 @@ endmenu
 choice
 	prompt "SoC USB Mode"
 	depends on MV_INCLUDE_USB && !UBOOT_STRUCT
-	default MV_USB_HOST
+	default MV_USB_HOST_KW2
 
-config MV_USB_HOST
+config MV_USB_HOST_KW2
 	bool "Support for USB Host"
 	---help---
 	Choosing this option will configure on chip USB Controller to work in Host mode
 
-config MV_USB_DEVICE
+config MV_USB_DEVICE_KW2
 	bool "Support for USB Device"
 	---help---
 	Choosing this option will configure on chip USB Controller to work in Device mode
@@ -250,20 +250,20 @@ config USE_DSP
 choice
 	prompt "Protect from speculative instruction prefetch"
 	depends on CACHE_FEROCEON_L2
-	default MV_SP_I_FTCH_DB_INV
+	default MV_SP_I_FTCH_DB_INV_KW2
 
-config MV_SP_I_FTCH_DB_INV
+config MV_SP_I_FTCH_DB_INV_KW2
 	bool "Double invalidate for DMA buffers"
 	---help---
 	Choosing this option will add L2 invalidate for DMA recieved buffers before processing it,
 	This is done through the pci_unmap_sg/page/single APIs.
 
-config MV_SP_I_FTCH_LCK_L2_ICACHE
+config MV_SP_I_FTCH_LCK_L2_ICACHE_KW2
 	bool "Lock L2 I-cache"
 	---help---
 	Choosing this option will lock L2 Icache.
 
-config MV_SP_I_FTCH_NONE
+config MV_SP_I_FTCH_NONE_KW2
 	bool "Ignore"
 
 endchoice
@@ -369,13 +369,13 @@ if MV_ETHERNET
 choice
         prompt "GbE Mode"
         depends on MV_INCLUDE_GIG_ETH
-        default MV_ETH_LEGACY
+        default MV_ETH_LEGACY_KW2
 
-config MV_ETH_LEGACY
+config MV_ETH_LEGACY_KW2
         bool "Legacy mode "
         ---help---
 
-config MV_ETH_NETA
+config MV_ETH_NETA_KW2
         bool "Acceleration mode "
 	depends on ARCH_FEROCEON_KW2
         ---help---
@@ -383,11 +383,11 @@ config MV_ETH_NETA
 endchoice
 
 
-if MV_ETH_LEGACY
+if MV_ETH_LEGACY_KW2
 source arch/arm/plat-feroceon/mv_drivers_lsp/mv_network/Kconfig
 endif
 
-if MV_ETH_NETA
+if MV_ETH_NETA_KW2
 source arch/arm/plat-feroceon/mv_drivers_lsp/mv_neta/Kconfig
 endif
 
diff --git a/arch/arm/plat-feroceon/mv_drivers_lsp/mv_cesa/Kconfig b/arch/arm/plat-feroceon/mv_drivers_lsp/mv_cesa/Kconfig
index b0a39af..1958a16 100644
--- a/arch/arm/plat-feroceon/mv_drivers_lsp/mv_cesa/Kconfig
+++ b/arch/arm/plat-feroceon/mv_drivers_lsp/mv_cesa/Kconfig
@@ -20,16 +20,16 @@ config MV_CESA_CHANNELS
 choice
         prompt "CESA Mode"
         depends on MV_CESA
-        default MV_CESA_OCF
+        default MV_CESA_OCF_KW2
 
-config	MV_CESA_OCF
-	bool "Support for Marvell CESA OCF driver"
+config	MV_CESA_OCF_KW2
+	tristate "Support for Marvell CESA OCF driver"
 	depends on OCF_OCF
 	---help---
 	  Choosing this option will enable you to use the Marvell Cryptographic Engine and
 	  Security Accelerator, under the OCF package.
 
-config  MV_CESA_TEST
+config  MV_CESA_TEST_KW2
 	bool "Support for Marvell CESA test driver"
 	depends on MV_CESA_TOOL
 	---help---
diff --git a/arch/arm/plat-feroceon/mv_drivers_lsp/mv_cesa/Makefile b/arch/arm/plat-feroceon/mv_drivers_lsp/mv_cesa/Makefile
index c4a1e06..2441ede 100644
--- a/arch/arm/plat-feroceon/mv_drivers_lsp/mv_cesa/Makefile
+++ b/arch/arm/plat-feroceon/mv_drivers_lsp/mv_cesa/Makefile
@@ -5,9 +5,10 @@ ifeq ($(CONFIG_ARCH_FEROCEON),y)
 	include $(srctree)/$(MACHINE)/config/mvRules.mk
 endif
 
-ifeq ($(CONFIG_MV_CESA_OCF),y)
+ifeq ($(CONFIG_MV_CESA_OCF_KW2),y)
 EXTRA_CFLAGS    += -I$(srctree)/crypto/ocf
 endif
 
-obj-$(CONFIG_MV_CESA_TOOL) += cesa_dev.o
-obj-$(CONFIG_MV_CESA_OCF)  += cesa_ocf_drv.o
+obj-$(CONFIG_MV_CESA_TOOL_KW2) += cesa_dev.o
+obj-$(CONFIG_MV_CESA_OCF_KW2)  += cesa_ocf_drv.o
+
diff --git a/arch/arm/plat-feroceon/mv_drivers_lsp/mv_neta/Kconfig b/arch/arm/plat-feroceon/mv_drivers_lsp/mv_neta/Kconfig
index 9aea0de..09ae3e0 100644
--- a/arch/arm/plat-feroceon/mv_drivers_lsp/mv_neta/Kconfig
+++ b/arch/arm/plat-feroceon/mv_drivers_lsp/mv_neta/Kconfig
@@ -1,6 +1,6 @@
 config MV_ETH_PORTS_NUM
 	int "Number of Marvell GbE ports"
-	depends on MV_ETH_NETA
+	depends on MV_ETH_NETA_KW2
 	default 1
 	---help---
 	Number of Marvell GbE ports supported by NETA driver
@@ -8,7 +8,7 @@ config MV_ETH_PORTS_NUM
 menu "BM configuration"
 
 config MV_ETH_BM
-	depends on MV_ETH_NETA
+	depends on MV_ETH_NETA_KW2
 	bool "Buffer Management support (BM)"
 	default y
         ---help---
@@ -221,7 +221,7 @@ config MV_ETH_LEGACY_PARSER
 	---help---
 
 menuconfig MV_ETH_PNC
-        depends on MV_ETH_NETA
+        depends on MV_ETH_NETA_KW2
         bool "PnC support"
 	default y
         ---help---
@@ -298,7 +298,7 @@ config MV_ETH_HWF_TXQ_DROP_RND
         ---help---
 
 config MV_ETH_PMT
-        depends on MV_ETH_NETA
+        depends on MV_ETH_NETA_KW2
         bool "Packet Modification Table (PMT)"
         default n
         ---help---
@@ -735,7 +735,7 @@ menu "PON support for Network driver"
 
 config MV_PON
         bool "PON support"
-        depends on MV_ETH_NETA && MV_INCLUDE_PON
+        depends on MV_ETH_NETA_KW2 && MV_INCLUDE_PON
         ---help---
         Choose this option to support PON port in Marvell network driver
 
diff --git a/arch/arm/plat-feroceon/mv_drivers_lsp/mv_neta/net_dev/mv_netdev.c b/arch/arm/plat-feroceon/mv_drivers_lsp/mv_neta/net_dev/mv_netdev.c
index 9982037..663c91b 100644
--- a/arch/arm/plat-feroceon/mv_drivers_lsp/mv_neta/net_dev/mv_netdev.c
+++ b/arch/arm/plat-feroceon/mv_drivers_lsp/mv_neta/net_dev/mv_netdev.c
@@ -3452,7 +3452,7 @@ void mv_eth_config_show(void)
    printk(KERN_ERR "  o SKB recycle supported (%s)\n", mv_ctrl_recycle ? "Enabled" : "Disabled");
 #endif
 
-#ifdef CONFIG_MV_ETH_NETA
+#ifdef CONFIG_MV_ETH_NETA_KW2
    printk(KERN_ERR "  o NETA acceleration mode %d\n", mvNetaAccMode());
 #endif
 
diff --git a/arch/arm/plat-feroceon/mv_drivers_lsp/mv_network/Kconfig b/arch/arm/plat-feroceon/mv_drivers_lsp/mv_network/Kconfig
index 75438e89c..d63722c 100644
--- a/arch/arm/plat-feroceon/mv_drivers_lsp/mv_network/Kconfig
+++ b/arch/arm/plat-feroceon/mv_drivers_lsp/mv_network/Kconfig
@@ -1,6 +1,6 @@
 config MV_ETH_PORTS_NUM
 	int "Number of Marvell Giga Ethernet controllers"
-	depends on MV_ETH_LEGACY
+	depends on MV_ETH_LEGACY_KW2
 	default 1
 
 menu "Network Interface Configuration"
@@ -199,7 +199,7 @@ endmenu
 
 config MV_GATEWAY
         bool "Gateway support"
-	depends on MV_ETH_LEGACY
+	depends on MV_ETH_LEGACY_KW2
         ---help---
 	Choose this option to support Gigabit Ethernet Controller connected to
         on-board QuarterDeck switch family
diff --git a/arch/arm/plat-feroceon/mv_drivers_lsp/mv_sata/Kconfig b/arch/arm/plat-feroceon/mv_drivers_lsp/mv_sata/Kconfig
index 60d6b08..0c8f199 100644
--- a/arch/arm/plat-feroceon/mv_drivers_lsp/mv_sata/Kconfig
+++ b/arch/arm/plat-feroceon/mv_drivers_lsp/mv_sata/Kconfig
@@ -14,17 +14,17 @@ config  MV_SATA_ENABLE_1MB_IOS
           say No if you want to keep the maximum limit on 128KBytes.
 choice
 	prompt "Debug level"
-	default SATA_NO_DEBUG
+	default SATA_NO_DEBUG_KW2
 
-config SATA_NO_DEBUG
+config SATA_NO_DEBUG_KW2
 	bool "No Debug"
 
-config SATA_DEBUG_ON_ERROR
+config SATA_DEBUG_ON_ERROR_KW2
 	bool "Debug on errors"
 	help
 	  print debug messages when EDMA/System/HDD errors occur.
 
-config SATA_FULL_DEBUG
+config SATA_FULL_DEBUG_KW2
 	bool "Full debug"
 
 endchoice
diff --git a/arch/arm/plat-feroceon/mv_drivers_lsp/mv_tsu/mv_tsu.c b/arch/arm/plat-feroceon/mv_drivers_lsp/mv_tsu/mv_tsu.c
index d6f9ba8..e4e1eaf 100644
--- a/arch/arm/plat-feroceon/mv_drivers_lsp/mv_tsu/mv_tsu.c
+++ b/arch/arm/plat-feroceon/mv_drivers_lsp/mv_tsu/mv_tsu.c
@@ -534,7 +534,7 @@ static int mvtsu_next_rx_buff_get(struct file *filp, u32 **data_buff,
             return -EIO;
       }
       else {
-#if !defined(TSU_UNCACHED_DATA_BUFFERS) && defined(CONFIG_MV_SP_I_FTCH_DB_INV)
+#if !defined(TSU_UNCACHED_DATA_BUFFERS) && defined(CONFIG_MV_SP_I_FTCH_DB_INV_KW2)
          dma_unmap_single(NULL, mvOsIoVirtToPhy(NULL, *data_buff) ,
                dev->buff_info.dataBlockSize, DMA_FROM_DEVICE);
 #endif
diff --git a/arch/arm/plat-feroceon/mv_drivers_lsp/mv_xor/mv_netdma.c b/arch/arm/plat-feroceon/mv_drivers_lsp/mv_xor/mv_netdma.c
index e62ecde..1fb8203 100644
--- a/arch/arm/plat-feroceon/mv_drivers_lsp/mv_xor/mv_netdma.c
+++ b/arch/arm/plat-feroceon/mv_drivers_lsp/mv_xor/mv_netdma.c
@@ -63,7 +63,7 @@ disclaimer.
 /*
  * Double invalidate WA
  */
-#ifdef CONFIG_MV_SP_I_FTCH_DB_INV
+#ifdef CONFIG_MV_SP_I_FTCH_DB_INV_KW2
 #define XOR_UNMAP
 #endif
 
diff --git a/arch/arm/plat-feroceon/mv_hal/pon/mvPonOnuDefines.h b/arch/arm/plat-feroceon/mv_hal/pon/mvPonOnuDefines.h
index 111e4c8..0ff1122 100644
--- a/arch/arm/plat-feroceon/mv_hal/pon/mvPonOnuDefines.h
+++ b/arch/arm/plat-feroceon/mv_hal/pon/mvPonOnuDefines.h
@@ -89,7 +89,7 @@ SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 #error ERROR: Invalid Init Params - #num of T-Conts < #num of LLID
 #endif
 
-#ifdef CONFIG_MV_GPON
+#ifdef CONFIG_MV_GPON_KW2
 
 #ifdef CONFIG_MV_GPON_STATIC_GEM_PORT
 #define MV_GPON_STATIC_GEM_PORT
@@ -107,9 +107,9 @@ SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 #define MV_GPON_HW_INTERRUPT
 #endif /* CONFIG_MV_GPON_HW_INTERRUPT */
 
-#endif /* CONFIG_MV_GPON */
+#endif /* CONFIG_MV_GPON_KW2 */
 
-#ifdef CONFIG_MV_EPON
+#ifdef CONFIG_MV_EPON_KW2
 
 #ifdef CONFIG_MV_EPON_HW_INTERRUPT
 #define MV_EPON_HW_INTERRUPT
@@ -121,7 +121,7 @@ SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 #define ONU_EPON_DBA_HIGH_RATE_THRESHOLD  (CONFIG_MV_EPON_DBA_HIGH_RATE_THRESHOLD)
 #define ONU_EPON_DBA_HIGH_RATE_VALUE      (CONFIG_MV_EPON_DBA_HIGH_RATE_VALUE)
 
-#endif /* CONFIG_MV_EPON */
+#endif /* CONFIG_MV_EPON_KW2 */
 
 
 /* GEM MAC Ports */
diff --git a/arch/arm/plat-feroceon/mv_hal/usb/device/mvUsbDevMain.c b/arch/arm/plat-feroceon/mv_hal/usb/device/mvUsbDevMain.c
index d0b774c..b1a48ee 100644
--- a/arch/arm/plat-feroceon/mv_hal/usb/device/mvUsbDevMain.c
+++ b/arch/arm/plat-feroceon/mv_hal/usb/device/mvUsbDevMain.c
@@ -529,7 +529,7 @@ uint_8 _usb_device_call_service
    {
       if (service_ptr->TYPE == type)
       {
-#ifdef CONFIG_MV_SP_I_FTCH_DB_INV
+#ifdef CONFIG_MV_SP_I_FTCH_DB_INV_KW2
         if( (direction == ARC_USB_RECV) && (buffer_ptr != NULL) && (length > 0) )
             USB_dcache_inv( buffer_ptr, length);
 #endif /* CONFIG_MV_SP_I_FTCH_DB_INV */
-- 
1.7.5.4

